* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

.main-content {
  display: flex;
  size: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.app-item {
  width: 100vw;
}