.board-container {
    padding: 2vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
  width: 400px;
  height: 400px;
  background: grey;
  border-radius: 12px;
  display: flex;

  /*
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  */
}